body {
    width: 100%;
    background-color: #EEEEEE;
}

* {
    margin: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    display: flex;
}

.left {
    width: 300px;
    margin-top: -5px;
}


.right {
    background-color: #f9f9f9;
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;

}

.title {
    padding: 10px;
    outline: solid 1px black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 0 40px;
}

.products .product a {
    text-decoration: none;
    color: black;
}

.products .product {
    width: 30%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.products img {
    display: block;   /* Thêm dòng này */
    margin: 0 auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.products p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.products .product h4 {
    font-size: 18px;
    margin-top: 10px;
}

.products .product p {
    font-size: 14px;
    margin-top: 5px;
}

.products .product p strong {
    font-weight: bold;
}



.popular_categories {
    background-color: #f9f9f9;
    border-radius: 8px;
}

.popular_categories a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

.popular_categories a:hover {
    color: red;
}

footer {
    background-color: white;
}

.about-us {
    margin: 0 auto;
}

.information div {
    margin: 0 auto;
}

.header, header div {
    margin: 0 auto;
}

h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

h4 {
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

button:hover {
    background-color: #2980b9;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}

.input {
    margin-bottom: 15px;
    display: flex;
}
