body{
    width: 100%;
    background-color: #EEEEEE;
}
* {
    margin: 0;
}
.container{
    width: 90%;
    margin: 20px auto;
    display: flex;
}
.left{
    width: 25%;
    margin-top: -5px;
}
.right{
    background-color: #f9f9f9;
    margin: 0 10px;
    width: 75%;
    overflow: hidden;
    border-radius: 10px;

}
.title{
    padding: 10px;
    outline: solid 1px black;
}
.products{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 0 40px;
}
.products .book{
    width: 30%;
}
.popular_categories{
    background-color: #f9f9f9;
    border-radius: 8px;
}
.popular_categories a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}
.popular_categories a:hover{
    color: red;
}
.input label{
    display: flex;
}
footer{
    background-color: white;
}
.about-us{
    margin: 0 auto;
}
.information div{
    margin: 0 auto;
}
.header{
    margin: 0 auto;
}
header div{
    margin: 0 auto;
}









.select {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.select .input {
    display: flex;
    margin-bottom: 12px;
}
.select .input label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.select .input input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #3498db; 

    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s, border-color 0.5s;
}
.select .input input[type="checkbox"]:hover {
    background-color: #99ccff; 
    border-color: #6699cc;    
}
.select .input input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}
.select .input input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}
input[type="checkbox"]:checked::before {
    content: '✔'; 
    color: white;
    font-size: 14px;
    display: block;
    margin: -1px 3px; 
}




.categories {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.categories .input {
    display: flex;
    margin-bottom: 12px;
}
.categories .input label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.categories .input input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #3498db; 

    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s, border-color 0.5s;
}
.categories .input input[type="checkbox"]:hover {
    background-color: #99ccff; 
    border-color: #6699cc;    
}
.categories .input input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}
.categories .input input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}




.publisher {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.publisher .input {
    display: flex;
    margin-bottom: 12px;
}
.publisher .input label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.publisher .input input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #3498db; 

    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s, border-color 0.5s;
}
.publisher .input input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}
.publisher .input input[type="checkbox"]:hover {
    background-color: #99ccff; 
    border-color: #6699cc;    
}
.publisher .input input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}




.origin {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.origin .input {
    display: flex;
    margin-bottom: 12px;
}
.origin .input label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.origin .input input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #3498db; 

    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s, border-color 0.5s;
}
.origin .input input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}
.origin .input input[type="checkbox"]:hover {
    background-color: #99ccff; 
    border-color: #6699cc;    
}
.origin .input input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}





.for_age {
    margin: 5px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.for_age .input {
    display: flex;
    margin-bottom: 12px;
}
.for_age .input label {
    font-size: 14px;
    cursor: pointer;
    color: #333;
}
.for_age .input input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: #3498db; 

    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.5s, border-color 0.5s;
}
.for_age .input input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #3498db;
}
.for_age .input input[type="checkbox"]:hover {
    background-color: #99ccff; 
    border-color: #6699cc;    
}
.for_age .input input[type="checkbox"]:checked {
    background-color: #3498db;
    border-color: #2980b9;
}




